@import url("http://fonts.googleapis.com/css?family=VT323");

/* box-sizing is not supported by IE */
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  color: green;
  height: 100%;
  font-family: "VT323" monospace;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
  width: 100%; }

html {
  background: #222222;
  overflow: hidden;
  position: relative; }
  @media (min-width: 37.5em) {
    html {
      padding: 2em; } }
  @media (min-width: 56.25em) {
    html {
      padding: 4em; } }
  @media (min-width: 75em) {
    html {
      padding: 6em; } }

main {
  background: black;
  display: block;
  overflow: hidden;
  height: 70%;}
  @media (min-width: 37.5em) {
    main {
      border: 3em solid black;
      -webkit-border-radius: 3em;
      -moz-border-radius: 3em;
      -ms-border-radius: 3em;
      -o-border-radius: 3em;
      border-radius: 3em; } }
  @media (min-width: 56.25em) {
    main {
      border-width: 5em; } }
  @media (min-width: 75em) {
    main {
      border-width: 6em; } }

/* Main actors */
.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
  -moz-animation: blink 2s steps(5, start) infinite;}

.cursor {
  display: none;}
  .cursor:before {
    content: ">: ";}

.marvinsay:before {
  content: ">: ";}

.twitter-container {
  display: block;
  text-align: center;
  margin-top: 5px;
}

/* Blink (Chrome, Mozilla, Opera) */
@keyframes blink {
  to {
    visibility: hidden; } }

@-webkit-keyframes blink {
  to {
    visibility: hidden; } }

@-moz-keyframes blink {
  to {
    visibility: hidden; } }