<html>
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <p class="marvinsay" id='marvinsay'></p>
	<pre><div class="cursor" id='cursor'></div></pre>

    <script type='text/javascript'>
        /* Globals */
        var says = {{ marvin_says|tojson }};
        var i = 0,
            has_cursor = false,
            in_progress = false,
            marvin_i = 0,
            current;

        /* Functions */
        function changeString(){
            var marvin = document.getElementById('marvinsay');
            marvin.style.display = 'none';
            marvin.innerHTML = '';
            marvin.style.display = 'block';
        };

        function swapCursor(show_cursor){
            var marvin = document.getElementById('marvinsay'),
                cursor = document.getElementById('cursor');

            if (show_cursor == true) {
                marvin.style.display = 'none';
                cursor.style.display = 'inline-block';
            } else {
                marvin.style.display = 'block';
                cursor.style.display = 'none';
            }
        };

        function type() {
            text = current.slice(0, ++i);
            console.log(text);
            if (text === current) {
                in_progress == false;
                marvin_i += 1;
                document.getElementById('marvinsay').innerHTML = current;
                return;
            }
            document.getElementById('marvinsay').innerHTML = text;
            var timeout = 80;
            debugger;
            if (current[i] === ' ') {
                timeout = 20;
            }
            setTimeout(type, timeout);
        };


        function marvin() {
            if (in_progress == false){
                in_progress = true;
                if (current==='cursor') {
                    current = '';
                } else {
                    current = says[marvin_i]
                    type();
                    return;
                }
            }
        };
        setInterval(function(){
            marvin();
        }, 80);

    </script>

</body>
