<html>
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}">
    
    <script type="text/javascript"
        src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

    <main>
    <!-- main containers -->
    <p class='marvinsay' id='marvinsay'></p>
    <p class='cursor' id='cursor'><span class="blink">|</span></p>
    </main>

    <script type='text/javascript'>
        says = {{ marvin_says|tojson }};
        setInterval(function(){ marvin(); }, 850);
    </script>

</body>

</html>
